<app-prices></app-prices>
<div class="footer">
  <div class="address">
    <p>г. Одесса, ул. Тенистая 9/12</p>
    <p style="font-size: 14px">© {{ date | date: 'yyyy' }} CrossFit Marine Bay</p>
  </div>
  <div class="social">
    <a href="https://www.instagram.com/marine_bay_odessa/" target="_blank">INSTAGRAM</a>
    <a href="https://www.facebook.com/marinebayodessa/" target="_blank">FACEBOOK</a>
    <a href="https://t.me/MarineBayOdessa" target="_blank">TELEGRAM</a>
    <a href="mailto:marine.bay.odessa@gmail.com">EMAIL</a>
    <a href="tel:+380665233393">PHONE</a>
  </div>
</div>
